@tailwind base;
@tailwind components;
@tailwind utilities;

body {background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description-output {
    white-space: pre-wrap;
  }